{% extends "dashboard/layout.html" %}
{% load static %}

{%block title%}
    Time
{%endblock%}

{%block body%}
<style>
    #new{
        z-index: 5;
        position: absolute;
        top: 20%;
        left:30%;
        background-color: whitesmoke;
        padding: 30px;
        border-radius: 10px;
        width:50%;
    }

    .btn-info{
        margin-left:20%;
    }

    #heading > button{
        position:absolute;
        display: inline;
    }
    #heading > h1{
        display: inline;
        margin-bottom: 10px;
    }
    @media(max-width: 999px){
        #new{
            left:15%;
            width:70%;
        }
        .btn-info{
        display: none;
    }
    }
    @media(max-width: 762px){
        #new{
            left:5%;
            width:90%;
        }
        .btn-info{
        display: none;
    }
    }

    @media(min-width: 1000px){
        .task-item{
            width:48.5%; 
        }
    }
    @media(max-width: 999px){
        .task-item{
            width:48%;
        }
        #new{
            left:15%;
            width:70%;
        }
    }
    @media(max-width: 762px){
        .task-item{
            width:100%;
        }
        #heading>h1{
            font-size: 30px;
            position: relative;
            display: flex;
            justify-content: center;
        }
        #heading > button{
            display: block;
            margin-top: 2%;
        }
        #heading >.btn-info{
            float:left;
            margin-left: 0;
        }
        #heading{
            margin-bottom: 9%;
        }
        #new{
            left:5%;
            width:90%;
        }
    }
</style>

<div class="alarm-list">
    <div id = "heading" style="padding:15px;">
        <h1 style="margin-bottom: 10px;">Time Management</h1>
        <button class="btn btn-info" style=" font-weight:bold; color: rgb(8,66,152);">ℹ️ Count: <span id="count">{{alarms.count}}</span></button>
        <button class="create_alarm btn btn-success" style="position:absolute; right:20px; display:inline; background-color: rgb(0, 152, 10);">+ New Alarm</button>
    </div>

    <form class="new" id="new" action = "{%url 'alarms' %}" method="POST" style="margin-top: 20px; display:none;">
        <h3 style="display:inline">New Alarm</h3>
        <button style="display:inline; float: right;margin-bottom: 10px;" class="create_alarm btn-close btn-danger"></button> 
        {%csrf_token%}
        {%include 'dashboard/alarm.html'%}
        <center><input type = "submit", value="Create" class="btn btn-primary"></center>
    </form>

<div id = "alarms" style="width:49%; display: inline-block;">
    {%for alarm in alarms%}
        {%if not alarm.expired %}
            <div class = "alert alert-primary" id = "{{alarm.id}}" style="width:99%; margin: 5px 5px">
        {%else%}
            <div class = "alert alert-danger" id = "{{alarm.id}}" style="width:99%; margin: 5px 5px">
        {%endif%}
                <div class="alarm-data">
                    <a style="text-decoration: none;"><h1 style = "font-weight: bold; display: inline; font-size: 30px;" class="name">{{alarm.name}}</h1></a>
                    <input type = "submit" style="display: block; float:right; margin: 0 2.5px" class="btn btn-danger delete" value="🗑">       
                    <p>Alarm {{forloop.counter}}</p>
                    <h3 style = "font-size: 17px; margin-top: 10px;">{{alarm.date_time}}</h3>
                </div>
                <div style="font-size: 20px"  id = "countdown-{{alarm.id}}">00:00:00</div>
            </div>
    {%empty%}
        <div class="alert alert-info" style="width:100%;  margin: 5px 5px"><h2>No Alarms have been set</h2></div>
    {%endfor%}
</div>

<div style="width:49%;float:right; display: inline;">
    {%include "dashboard/stopwatch.html"%}
</div>
{%endblock%}


{%block script%}
    <script src = "{%static 'dashboard/time.js' %}"></script>
{%endblock%}
