{% extends "dashboard/layout.html" %}
{% load static %}

{%block title%}
    Completed
{%endblock%}

{%block body%}
<style>
 #new{
        z-index: 5;
        position: absolute;
        top: 10%;
        left:30%;
        background-color: whitesmoke;
        padding: 30px;
        border-radius: 10px;
        width:50%;
    }
    .standard-view > input[type=submit]{
        display: block; float:right; margin: 0 2.5px
    }
    #heading > button{
        position:absolute;
        display: inline;
    }
    #heading > h1{
        display: inline;
        margin-bottom: 10px;
    }
    
    .btn-info{
        margin-left:20%;
    }
    @media(min-width: 1000px){
        .task-item{
            width:48.5%; 
        }
    }
    @media(max-width: 999px){
        .task-item{
            width:48%;
        }
        #new{
            left:15%;
            width:70%;
        }
    }
    @media(max-width: 762px){
        .task-item{
            width:100%;
        }
        #heading>h1{
            font-size: 30px;
            position: relative;
            display: flex;
            justify-content: center;
        }
        #heading > button, #heading > a{
            display: block;
            margin-bottom: 10%;
        }
        #heading >.btn-info{
            float:left;
            margin-left: 0;
        }
        #new{
            left:5%;
            width:90%;
        }
    }
</style>
<div class="task-list" style="position: relative;">
    <div id = "heading" style="padding:10px; margin-bottom: 10px;">
        <h1>Completed Tasks</h1>
        <button class="btn btn-info" style= "font-weight:bold; color: rgb(8,66,152);">ℹ️ Count: <span id="count">{{todo.count}}</span></button>
        <a href="{%url 'todo'%}"><button class="btn btn-success" style=" float:right; display:inline;  background-color: rgb(0, 152, 10);">Pending Tasks</button></a>
    </div>
    
    <div id = "tasks" style= "display: flex; flex-wrap: wrap;">
        {%for item in todo%}
            <div class = "task-item alert alert-primary" id = "{{item.id}}" style="margin: 5px 7px">
                    <div class="standard-view">
                        <a style="text-decoration: none;"><h1 style = "font-weight: bold; display: inline; font-size: 30px;" class="name">{{item.name}}</h1></a>
                        <input type = "submit" class="btn btn-danger delete" value="🗑">       
                        <input type = "submit" class="btn btn-warning undo" value="↩️">
                        <p class="action" style = "font-size: 13px; margin-top: 10px;">{{item.action}}</p>
                        <p>{{item.date}}</p>
                    </div>
            </div>
        {%empty%}
            <div class="alert alert-info" style="width:100%"><h2>No tasks completed 😞...  Better get to work!</h2></div>
        {%endfor%}
    </div>
{%endblock%}

{%block script%}
    <script src = "{%static 'dashboard/todo.js' %}"></script>
{%endblock%}